.analytics{
    display: flex;
    flex-direction: column;
}

.option-buttons{
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
}

.option-buttons button{
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    border: 1px solid gray;
    background: whitesmoke;
    font-weight: 500;
    color: gray;
}

.img-group{
    display: flex;
    margin-top: 2rem;
    justify-content: space-evenly;
}
.img-group img{
    width: 200px;
    height: 140px;
    margin-left: 1rem;
    border-radius: 1.5rem;
}
.info-group{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.info-item{
    border: 0.5px solid lightgray;
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    box-shadow: gray 1px 1px 5px;
}

.stat-table{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.table-header{
    display: flex;
    justify-content: space-between;
}

.timeline button{
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 2px;
}

.period{
    margin-left: 1rem;
    
}

.table-middle{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-top: 1px solid lightgray;
}

.first-column{
   justify-self: flex-start;
   margin-right: 15rem;
}


.table-middle img{
    width: 5rem;
}

.table-content{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}