.sidebar-option{
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    padding: 0.1rem;   
    padding-left: 0.5rem; 
}
.sidebar-option-hide{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.sidebar-option-hide p{
    display: none;
}

.sidebar-option p{    
    margin-left: 0.5rem;
    padding-top: 1rem;
}

.sidebar-option:hover{
    /* background-color: #82b8d7; */
    background-color:#5d8fa8;
    border-radius: 1rem;
    transition: all 0.8s;
}
.sidebar-option-hide:hover{
    cursor: pointer;
    background-color:#5d8fa8;
    border-radius: 0.5rem;
    transition: all 0.8s;
}
