.topbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-home{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding: 0.3rem;
    /* margin-left: 4rem; */
    background-color: transparent;
   
    /* width: 100%; */
}
.search-bar-stats{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding: 0.3rem;
    margin-left: 4rem;
    background-color: transparent;
    margin-right: 5rem;
    /* width: 100%; */
}

.search-bar-home input{
    flex: 1;
    border: none;
    outline: none;
    /* padding: 3px; */
    padding-right: 5rem;
    width: 100%;
}

.search-bar-stats input{
    border: none;
    outline: none;
    padding: 3px;
    padding-right: 5rem;
    width: 100%;
    align-self: right; 
    /* margin-right: 15rem; */
}

.group-icon{
    display: flex;
    flex: 0.3;
    padding: 1rem;
    margin-left: 20rem;
}
.icon{
    margin-left: 1rem;
    padding: 0.5rem;
    border: 1px solid whitesmoke;
    box-shadow: lightgray 5px 5px 5px ;
    border-radius: 0.5rem;
}
.icon:hover{
    cursor: pointer;
    color: rgb(160, 160, 160);
}